In [2]:
#pip install folium geopandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: folium in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (0.12.1.post1)
Requirement already satisfied: geopandas in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (0.11.1)
Requirement already satisfied: requests in /opt/tljh/user/lib/python3.9/site-packages (from folium) (2.26.0)
Requirement already satisfied: numpy in /opt/tljh/user/lib/python3.9/site-packages (from folium) (1.23.1)
Requirement already satisfied: jinja2>=2.9 in /opt/tljh/user/lib/python3.9/site-packages (from folium) (3.1.2)
Requirement already satisfied: branca>=0.3.0 in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from folium) (0.5.0)
Requirement already satisfied: pandas>=1.0.0 in /opt/tljh/user/lib/python3.9/site-packages (from geopandas) (1.4.3)
Requirement already satisfied: shapely<2,>=1.7 in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from geopandas) (1.8.2)
Requirement already satisfied: fiona>=1.8 in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from geopandas) (1.8.21)
Requirement already satisfied: packaging in /opt/tljh/user/lib/python3.9/site-packages (from geopandas) (21.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from geopandas) (3.3.1)
Requirement already satisfied: munch in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: certifi in /opt/tljh/user/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2022.6.15)
Requirement already satisfied: attrs>=17 in /opt/tljh/user/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click>=4.0 in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: cligj>=0.5 in /home/jupyter-kramesh/.local/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /opt/tljh/user/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (58.2.0)
Requirement already satisfied: six>=1.7 in /opt/tljh/user/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/tljh/user/lib/python3.9/site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/tljh/user/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/tljh/user/lib/python3.9/site-packages (from packaging->geopandas) (3.0.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/tljh/user/lib/python3.9/site-packages (from requests->folium) (2.0.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/tljh/user/lib/python3.9/site-packages (from requests->folium) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/tljh/user/lib/python3.9/site-packages (from requests->folium) (1.26.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import folium
import pandas as pd
import numpy as np
import geopandas as gpd

# make a geojason df for sd
geo_data_file = r'/data/bp-codeathon-team-2/sd.geojson'
with open(geo_data_file, 'r') as jsonFile:
    geo_df=gpd.read_file(jsonFile)
geo_df = geo_df.rename(columns = {"zip":"zipcode"})

In [2]:
geo_df

,community,shape_star,shape_stle,zipcode,geometry
0,Alpine,4149939944.16,326045.262676,91901,"MULTIPOLYGON (((-116.74539 32.96063, -116.7408..."
1,Bonita,273909416.836,113257.374615,91902,"MULTIPOLYGON (((-116.97172 32.70838, -116.9712..."
2,Boulevard,2735681408.51,241725.552214,91905,"MULTIPOLYGON (((-116.23165 32.75083, -116.2280..."
3,Campo,3066759065.62,287410.325075,91906,"MULTIPOLYGON (((-116.35677 32.70460, -116.3572..."
4,Chula Vista,403437442.009,112587.791814,91910,"MULTIPOLYGON (((-117.06354 32.65011, -117.0634..."
...,...,...,...,...,...
117,San Ysidro,110367415.137,52066.7970992,92173,"MULTIPOLYGON (((-117.06510 32.56911, -117.0639..."
118,San Diego,9608104.6377,17525.5972041,92182,"MULTIPOLYGON (((-117.07351 32.77926, -117.0704..."
119,Ocotillo,1978752344.38,194340.478076,92259,"MULTIPOLYGON (((-116.10322 32.87887, -116.1031..."
120,Aguanga,1389176969.58,206176.033344,92536,"MULTIPOLYGON (((-116.69356 33.42741, -116.6853..."
121,San Clemente,207151719.759,125487.98907,92672,"MULTIPOLYGON (((-117.57210 33.45299, -117.5695..."

In [3]:
# read the stats file, merge data for these zipcodes, and then return to 
income_data = pd.read_csv("/data/bp-codeathon-team-2/zip_mean_median_income.csv")
income_data

,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,Estimate!!Households!!Median income (dollars),Margin of Error!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars),Margin of Error!!Households!!Mean income (dollars),Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months
0,8600000US00601,ZCTA5 00601,5555,255,14398,1300,19353,1797,22.6
1,8600000US00602,ZCTA5 00602,12901,432,16771,1141,26150,1846,17.3
2,8600000US00603,ZCTA5 00603,19431,496,15786,1024,27451,2446,43.6
3,8600000US00606,ZCTA5 00606,1983,181,14980,3558,18534,2200,16
4,8600000US00610,ZCTA5 00610,8864,348,20167,1612,27865,2317,16.5
...,...,...,...,...,...,...,...,...,...
33115,8600000US99923,ZCTA5 99923,12,17,-,**,N,N,0
33116,8600000US99925,ZCTA5 99925,365,52,63125,20734,77633,11332,13.4
33117,8600000US99926,ZCTA5 99926,440,42,58000,12697,69587,7380,33.9
33118,8600000US99927,ZCTA5 99927,0,10,-,**,-,**,-
33119,8600000US99929,ZCTA5 99929,988,94,58542,8882,74917,6674,27.5

In [6]:
# going to transform the income data
income_data["zipcode"] = [item.split("US")[-1] for item in income_data["id"]]
income_data

,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,Estimate!!Households!!Median income (dollars),Margin of Error!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars),Margin of Error!!Households!!Mean income (dollars),Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months,zipcode
0,8600000US00601,ZCTA5 00601,5555,255,14398,1300,19353,1797,22.6,00601
1,8600000US00602,ZCTA5 00602,12901,432,16771,1141,26150,1846,17.3,00602
2,8600000US00603,ZCTA5 00603,19431,496,15786,1024,27451,2446,43.6,00603
3,8600000US00606,ZCTA5 00606,1983,181,14980,3558,18534,2200,16,00606
4,8600000US00610,ZCTA5 00610,8864,348,20167,1612,27865,2317,16.5,00610
...,...,...,...,...,...,...,...,...,...,...
33115,8600000US99923,ZCTA5 99923,12,17,-,**,N,N,0,99923
33116,8600000US99925,ZCTA5 99925,365,52,63125,20734,77633,11332,13.4,99925
33117,8600000US99926,ZCTA5 99926,440,42,58000,12697,69587,7380,33.9,99926
33118,8600000US99927,ZCTA5 99927,0,10,-,**,-,**,-,99927
33119,8600000US99929,ZCTA5 99929,988,94,58542,8882,74917,6674,27.5,99929

In [7]:
income_data.columns

Index(['id', 'Geographic Area Name', 'Estimate!!Households!!Total',
       'Margin of Error!!Households!!Total',
       'Estimate!!Households!!Median income (dollars)',
       'Margin of Error!!Households!!Median income (dollars)',
       'Estimate!!Households!!Mean income (dollars)',
       'Margin of Error!!Households!!Mean income (dollars)',
       'Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months',
       'zipcode'],
      dtype='object')

In [10]:
new_income_data = income_data.rename(columns={
                           "Estimate!!Households!!Total": "total_households",
                           "Estimate!!Households!!Median income (dollars)": "median_household_income",
                           "Estimate!!Households!!Mean income (dollars)": "mean_household_income",
                           "Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months": "income_percent_allocated"})[["zipcode", "total_households", "median_household_income", "mean_household_income", "income_percent_allocated"]]

In [11]:
new_income_data

,zipcode,total_households,median_household_income,mean_household_income,income_percent_allocated
0,00601,5555,14398,19353,22.6
1,00602,12901,16771,26150,17.3
2,00603,19431,15786,27451,43.6
3,00606,1983,14980,18534,16
4,00610,8864,20167,27865,16.5
...,...,...,...,...,...
33115,99923,12,-,N,0
33116,99925,365,63125,77633,13.4
33117,99926,440,58000,69587,33.9
33118,99927,0,-,-,-
33119,99929,988,58542,74917,27.5

In [19]:
# read the ZCTA.geojson from cdc

# make a geojason df for sd
cdc_data_file = r'/data/bp-codeathon-team-2/ZCTA.geojson'
with open(cdc_data_file, 'r') as jsonFile:
    cdc_df=gpd.read_file(jsonFile)
cdc_df = cdc_df.rename(columns = {"zcta5":"zipcode"}).drop(columns=["geometry"])

In [20]:
cdc_df.columns

Index(['highchol_crudeprev', 'ghlth_crude95ci', 'cholscreen_crude95ci',
       'copd_crude95ci', 'colon_screen_crude95ci', 'binge_crude95ci',
       'colon_screen_crudeprev', 'dental_crude95ci', 'arthritis_crude95ci',
       'casthma_crude95ci', 'diabetes_crude95ci', 'obesity_crude95ci',
       'mammouse_crudeprev', 'cancer_crudeprev', 'checkup_crude95ci',
       'cholscreen_crudeprev', 'kidney_crudeprev', 'ghlth_crudeprev',
       'teethlost_crudeprev', 'stroke_crudeprev', 'mhlth_crudeprev',
       'obesity_crudeprev', 'mammouse_crude95ci', 'cancer_crude95ci',
       'csmoking_crudeprev', 'depression_crudeprev', 'lpa_crude95ci',
       'corew_crudeprev', 'diabetes_crudeprev', 'casthma_crudeprev',
       'cervical_crudeprev', 'phlth_crude95ci', 'copd_crudeprev',
       'chd_crudeprev', 'arthritis_crudeprev', 'dental_crudeprev',
       'corew_crude95ci', 'access2_crudeprev', 'depression_crude95ci',
       'sleep_crude95ci', 'teethlost_crude95ci', 'csmoking_crude95ci',
       'zipcode', 'bphigh_crude95ci', 'cervical_crude95ci', 'corem_crude95ci',
       'lpa_crudeprev', 'access2_crude95ci', 'phlth_crudeprev',
       'highchol_crude95ci', 'mhlth_crude95ci', 'bphigh_crudeprev',
       'corem_crudeprev', 'binge_crudeprev', 'chd_crude95ci',
       'sleep_crudeprev', 'bpmed_crude95ci', 'stroke_crude95ci',
       'totalpopulation', 'bpmed_crudeprev', 'checkup_crudeprev',
       'kidney_crude95ci'],
      dtype='object')

In [21]:
merge_1 = geo_df.merge(new_income_data, on="zipcode", how="left")
merge_1

,community,shape_star,shape_stle,zipcode,geometry,total_households,median_household_income,mean_household_income,income_percent_allocated
0,Alpine,4149939944.16,326045.262676,91901,"MULTIPOLYGON (((-116.74539 32.96063, -116.7408...",6150.0,93214,119653,37.2
1,Bonita,273909416.836,113257.374615,91902,"MULTIPOLYGON (((-116.97172 32.70838, -116.9712...",6045.0,106769,132519,46.6
2,Boulevard,2735681408.51,241725.552214,91905,"MULTIPOLYGON (((-116.23165 32.75083, -116.2280...",645.0,42896,52076,21.4
3,Campo,3066759065.62,287410.325075,91906,"MULTIPOLYGON (((-116.35677 32.70460, -116.3572...",1282.0,48100,69435,26.6
4,Chula Vista,403437442.009,112587.791814,91910,"MULTIPOLYGON (((-117.06354 32.65011, -117.0634...",24599.0,70283,90646,46.8
...,...,...,...,...,...,...,...,...,...
117,San Ysidro,110367415.137,52066.7970992,92173,"MULTIPOLYGON (((-117.06510 32.56911, -117.0639...",8160.0,48967,64162,44.1
118,San Diego,9608104.6377,17525.5972041,92182,"MULTIPOLYGON (((-117.07351 32.77926, -117.0704...",NaN,NaN,NaN,NaN
119,Ocotillo,1978752344.38,194340.478076,92259,"MULTIPOLYGON (((-116.10322 32.87887, -116.1031...",77.0,35739,29116,58.4
120,Aguanga,1389176969.58,206176.033344,92536,"MULTIPOLYGON (((-116.69356 33.42741, -116.6853...",982.0,48182,78177,37.1
121,San Clemente,207151719.759,125487.98907,92672,"MULTIPOLYGON (((-117.57210 33.45299, -117.5695...",14480.0,89029,134029,35.7

In [22]:
merge_2 = merge_1.merge(cdc_df, on="zipcode", how="left")
merge_2

,community,shape_star,shape_stle,zipcode,geometry,total_households,median_household_income,mean_household_income,income_percent_allocated,highchol_crudeprev,...,corem_crudeprev,binge_crudeprev,chd_crude95ci,sleep_crudeprev,bpmed_crude95ci,stroke_crude95ci,totalpopulation,bpmed_crudeprev,checkup_crudeprev,kidney_crude95ci
0,Alpine,4149939944.16,326045.262676,91901,"MULTIPOLYGON (((-116.74539 32.96063, -116.7408...",6150.0,93214,119653,37.2,31.7,...,34.8,19.7,"( 4.9, 5.4)",30.8,"(67.6, 68.8)","( 2.7, 3.0)",17403,68.2,72.2,"( 2.6, 2.8)"
1,Bonita,273909416.836,113257.374615,91902,"MULTIPOLYGON (((-116.97172 32.70838, -116.9712...",6045.0,106769,132519,46.6,31.9,...,34.3,17.2,"( 4.9, 5.3)",30.2,"(70.3, 71.1)","( 2.7, 3.0)",17653,70.7,73.6,"( 2.8, 2.9)"
2,Boulevard,2735681408.51,241725.552214,91905,"MULTIPOLYGON (((-116.23165 32.75083, -116.2280...",645.0,42896,52076,21.4,35.2,...,29.5,16.9,"( 7.5, 9.0)",33.0,"(70.1, 72.3)","( 4.1, 5.0)",1700,71.2,71.5,"( 3.7, 4.2)"
3,Campo,3066759065.62,287410.325075,91906,"MULTIPOLYGON (((-116.35677 32.70460, -116.3572...",1282.0,48100,69435,26.6,32.8,...,28.7,17.7,"( 6.5, 7.8)",33.3,"(67.3, 69.8)","( 3.6, 4.4)",3627,68.6,69.9,"( 3.3, 3.8)"
4,Chula Vista,403437442.009,112587.791814,91910,"MULTIPOLYGON (((-117.06354 32.65011, -117.0634...",24599.0,70283,90646,46.8,29.1,...,29.5,17.5,"( 5.0, 5.2)",32.7,"(66.1, 66.6)","( 2.9, 3.0)",75802,66.4,70.3,"( 3.0, 3.1)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,San Ysidro,110367415.137,52066.7970992,92173,"MULTIPOLYGON (((-117.06510 32.56911, -117.0639...",8160.0,48967,64162,44.1,28.4,...,21.1,16.1,"( 5.2, 5.6)",34.8,"(63.6, 64.8)","( 3.0, 3.3)",29429,64.2,67.3,"( 3.6, 3.8)"
118,San Diego,9608104.6377,17525.5972041,92182,"MULTIPOLYGON (((-117.07351 32.77926, -117.0704...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Ocotillo,1978752344.38,194340.478076,92259,"MULTIPOLYGON (((-116.10322 32.87887, -116.1031...",77.0,35739,29116,58.4,41.5,...,24.9,14.8,"( 9.0, 11.1)",31.8,"(75.2, 78.0)","( 4.7, 5.9)",390,76.7,74.2,"( 3.9, 4.5)"
120,Aguanga,1389176969.58,206176.033344,92536,"MULTIPOLYGON (((-116.69356 33.42741, -116.6853...",982.0,48182,78177,37.1,37.5,...,28.3,15.7,"( 7.6, 8.6)",36.5,"(74.2, 75.4)","( 4.0, 4.6)",3810,74.8,73.4,"( 3.7, 4.0)"
121,San Clemente,207151719.759,125487.98907,92672,"MULTIPOLYGON (((-117.57210 33.45299, -117.5695...",14480.0,89029,134029,35.7,32.0,...,35.6,19.4,"( 4.6, 5.0)",32.1,"(69.3, 70.3)","( 2.5, 2.8)",34464,69.8,71.5,"( 2.5, 2.6)"

In [24]:
merge_2[merge_2["total_households"].isna()]

,community,shape_star,shape_stle,zipcode,geometry,total_households,median_household_income,mean_household_income,income_percent_allocated,highchol_crudeprev,...,corem_crudeprev,binge_crudeprev,chd_crude95ci,sleep_crudeprev,bpmed_crude95ci,stroke_crude95ci,totalpopulation,bpmed_crudeprev,checkup_crudeprev,kidney_crude95ci
78,La Jolla,37867940.126,40064.4427209,92093,"MULTIPOLYGON (((-117.23525 32.89010, -117.2350...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,San Diego,2114966.00195,5942.61328967,92161,"MULTIPOLYGON (((-117.22900 32.87593, -117.2291...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,San Marcos,13523501.6191,17574.0765834,92096,"MULTIPOLYGON (((-117.15421 33.13465, -117.1542...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,San Diego,58210484.9395,30608.4520396,92136,"MULTIPOLYGON (((-117.11093 32.68235, -117.1110...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,San Diego,9608104.6377,17525.5972041,92182,"MULTIPOLYGON (((-117.07351 32.77926, -117.0704...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# make a geojason from merged_data
cdc_data_file = r'/data/bp-codeathon-team-2/sd_zip_complete.geojson'
merge_2.to_file(cdc_data_file, driver="GeoJSON")